[tox]
isolated_build = True
envlist = py311, py312, lint, format, type

[testenv]
deps = poetry
allowlist_externals = poetry
commands =
    poetry install --with dev,test
    poetry run pytest {posargs:tests}

[testenv:lint]
deps = poetry
allowlist_externals = poetry
commands =
    poetry install --with dev
    poetry run ruff check .

[testenv:format]
deps = poetry
allowlist_externals = poetry
commands =
    poetry install --with dev
    poetry run ruff format .

[testenv:type]
deps = poetry
allowlist_externals = poetry
commands =
    poetry install --with dev
    poetry run pyright

[testenv:docs]
deps = poetry
allowlist_externals = poetry
commands =
    poetry install --with dev
    poetry run mkdocs build

[testenv:py311]
basepython = python3.11
deps = poetry
allowlist_externals = poetry
commands =
    poetry env use 3.11
    poetry install --with dev,test
    poetry run pytest {posargs:tests}

[testenv:py312]
basepython = python3.12
deps = poetry
allowlist_externals = poetry
commands =
    poetry env use 3.12
    poetry install --with dev,test
    poetry run pytest {posargs:tests}

[testenv:coverage]
deps = poetry
allowlist_externals = poetry
commands =
    poetry install --with dev,test
    poetry run pytest --cov=conda_forge_converter --cov-report=term-missing --cov-report=xml {posargs:tests}
